

// Globals

img {
    cursor: pointer;
}
.header_title {
    color: #283618;
    font-size: 30px;
    font-weight: 500;
    font-family: serif;
    line-height: initial;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.small {
    font-size: 20px;
    font-family: fantasy;
    line-height: 1.3;
}

// END Globals

.main_div {
    
    padding: 0px 10px;
    width: 100%;

    .div_img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .my_photo {
            border: 1px solid #000;
            border-radius: 20px;
            height: 310px;
            width: 250px;
        }
        .h3_info_icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
                margin-top: 0 !important;
                padding-top: 0 !important;
            }
        }
        .my_info {
            display: flex;
            justify-content: center;
        }
    }

}

.btn_whatsapp {
    position: fixed;
    right: 10px;
    top: 80px;
    .cuadro{
        align-items: center;
        background-color: #70e000;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        height: 45px;
        width: 50px;
        .cuadro:hover{
            cursor: pointer;
            background-color: #38b000;
        }
        #icon-whatsapp{
            color: white;
            font-size: 2.2rem;
            margin: 0px;
            padding: 0px;
        }
    }
}

@media (min-width: 720px) {
    .main_div{
        padding: 0px 90px !important;

        .div_img{
            .my_photo {
                height: 340px !important;
                width: 280px !important;
            }
        }
    }   
}