
.app {
    margin: 0;
    padding: 0;
    width: 100%;
    
    .large {
        display: none;
        width: 100%;
    }
    
    .mobile {
        display: block;
        width: 100%;
    }
}

@media (min-width: 780px) {

    .app {

        .large {
            display: block;
        }
        .mobile {
            display: none;
        }

    }

}