
<div class="all_footer">

    <div class="footer_ppal">
    
        <div class="footer_div about_me">
            <h1 class="text-align">{{ 'app.menu.about' | translate }}</h1>
            <a routerLink="/dashboard/contact">{{ 'app.menu.contact' | translate }}</a>
        </div>
    
        <div class="footer_div information_gral">
            <h1 class="text-align">{{ 'app.menu.information' | translate }}</h1>
            <a routerLink="/dashboard">{{ 'app.menu.home' | translate }}</a>
            <a routerLink="/dashboard/websites">{{ 'app.menu.websites' | translate }}</a>
            <a routerLink="/dashboard/pricing">{{ 'app.menu.pricing' | translate }}</a>
        </div>
    
        <div class="footer_div price_plans">
            <h1 class="text-align">{{ 'app.menu.plans' | translate }}</h1>
            <a routerLink="/dashboard/pricing">{{ 'app.menu.pricing' | translate }}</a>
            <a routerLink="/dashboard/payment">{{ 'app.menu.payment' | translate }}</a>
        </div>
    
        <div class="footer_div contact">
            <h1 class="text-align">{{ 'app.menu.contact' | translate }}</h1>
            <a routerLink="/dashboard/contact">{{ 'app.menu.contact' | translate }}</a>
            <a routerLink="/dashboard/help">{{ 'app.menu.help' | translate }}</a>
        </div>
    
    </div>
    
    <div class="d-flex justify-content-center pb-3" style="background-color: #ffd166;">
        <a href="https://www.instagram.com/oniercresteloojeda/" target="_blank">
            <img style="cursor: pointer" src="../../../../assets/svg/square-instagram.svg" width="40px" height="40px" alt="inst">
        </a>
        <a href="https://www.linkedin.com/in/onier-crestelo-ojeda-513b23262" target="_blank">
            <img style="cursor: pointer" src="../../../../assets/svg/linkedin.svg" width="40px" height="40px" alt="inst">
        </a>
        <a href="https://github.com/onier9702" target="_blank">
            <img style="cursor: pointer" src="../../../../assets/svg/github.svg" width="40px" height="40px" alt="inst">
        </a>
        <a href="https://wa.me/message/UYJLE22XHH7UP1" target="_blank">
            <img style="cursor: pointer" src="../../../../assets/svg/square-whatsapp.svg" width="40px" height="40px" alt="inst">
        </a>
    </div>
    
    <div class="d-flex justify-content-center pb-3" style="background-color: #ffd166;">
        ©2022-2023 All Rights Reserved
    </div>
</div>

